* {
  @import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;

}
body {
  min-height: 100vh;
  background-image: url('https://i.postimg.cc/50SmKdnx/blob-5.png'), url('https://i.postimg.cc/mrGMvpch/blob-5-1.png');
  background-position: top right, left bottom;
  background-size: 120px 100px;
  

  background-repeat: no-repeat;
}
/*
  right: 0%;
  top: 0;
  bottom: -161.16%;
  background-color: rgb(223, 213, 124);
  width: 180px;
  height: 180px;
  /* Lemony - medium */



 /* left: 0%;
  right: 0%;
  display: block;
  bottom: 0%;
  height: 180px;
  width: 180px;
*/
